/node_modules
/vendor
.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
/nbproject
_ide_helper.php
composer.phar
composer.lock
error.log
.vagrant
/.vagrant
.well-known
.phpstorm.meta.php
./public/jpush.log
public/images/cache/*